/* Style for the map container */
#map-container {
  position: relative;
  width: 1500px;
  height: 600px;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

/* Style for the pins */
.pin {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 35px;
  color: red;
  background-color: red;
  border-radius: 50% 50% 0 50%;
  transform: rotate(-90deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style for the Izmir pin */
#izmir {
  top: 250px;
  left: 60px;
}

#izmir:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/* Style for the Istanbul pin */
#istanbul {
  top: 70px;
  left: 170px;
}

#istanbul:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/* Style for the list container */
#list-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #f73005;
  border-radius: 0 0 0 5px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding: 20px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the list title */
#list-container h3 {
  color: black;
  margin-top: 0;
}

/* Style for the list items */
#list-container li {
  color: black;
  margin-bottom: 10px;
}

.parent {
  background-color: #f73005;
  display: flex;
  flex-wrap: wrap;
}

.child { /* set each child to be 1/3 of the width */
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#headdiv {
  display: flex;
}

#titlediv {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#imgdiv {
  background-color: red;
 }